[Unit]
Description=etop system monitor for linux system

[Service]
Type=simple
Environment="GOGC=50"
ExecStart=/usr/bin/etop record --compress --compress-dict-chunk-size 1024

[Install]
WantedBy=multi-user.target